 html,
 body {
     margin: 0;
     padding: 0;
     background-color: #ddd;
 }
 
 .container{
     width: 60%;
     margin: 50px auto;
     display: grid;
     grid-template-columns: 100px 25% 200px;
     grid-template-rows: 100px;
 }

 .item {
     background-color: rgb(138, 209, 254);
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .item:nth-last-child(even){
    background-color: rgb(255, 142, 142);
 }