body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

.container {
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* column-gap:10px;
    row-gap: 10px; */

    /* ---> shorthand row and column gap*/
    gap: 5px;
}

.item {
    background-color: rgb(138, 209, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 100px;
}

.item:nth-child(even){
    background-color: rgb(255, 142, 142);
}