/* 

grid-column & grid-row : shorthand pada latihan 1

*/

.container {
    width: 80%;
    margin: 50px auto;
    display: grid;
    /* grid-template-columns: minmax(200px, 300px)
    1fr 1fr;
    grid-template-rows: repeat(3, 100px); */

    grid-template-columns: [satu] minmax(200px, 300px) [dua] 1fr
    [tiga] 1fr [empat];
    grid-template-rows: [baris1] 100px [baris2] 100px
    [b-3] 100px [b4];
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-items {

    /* grid-column: 2 / 4;
    grid-row: 2 / 4; */

    grid-column: 1 / span 2;
    grid-row: 1 / span 2;

    /* grid-column-start: satu;
    grid-column-end: empat;
    grid-row-start: baris1;
    grid-row-end: b4; */

    /* grid-column-start: -1;
    grid-column-end: -2;
    grid-row-start: -4;
    grid-row-end: -1; */

    background-color: lightblue;
}